@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-base: #16151a;
  --color-acc1: #68c8cc;
  --color-acc2:#c84e80;
  --color-acc3: #d98926;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
}
